

body{
    background-color: black;
    color: white;
}


.md-text a {
    color: white;
    background-color: #434942;
    border-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1px;
    margin-right: 1px;
}


.navbar-default {
    background-color: black;
    color: white !important;
    font-size: 90%;
}

.navbar-default .navbar-brand {
    color: white !important;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
    font-size: 100% !important;
}

#md-page-menu .list-group-item {
    background-color: black !important;
    color: white !important;
    border-color: white;
}

#md-page-menu .list-group-item a {
    color: white !important;;
    font-size: 90%;
}

.tag {
    color: white !important;
}

table {
    background-color: #222;
    color: white;
}



body{
    background-color: black;
    color: white;
}


.md-text a {
    color: white;
    background-color: black;
    /*! border: 1.5px dotted black; */
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1px;
    margin-right: 1px;
    text-decoration: underline;
    font-size: 100%;
}

.datamap{
    color: red !important;
    background-color: #2c2b2b !important;
    border: 1px dashed white;
}


.datamap path.datamaps-graticule { fill: none; stroke: #777; stroke-width: 0.5px; stroke-opacity: .5; pointer-events: none; } .datamap .labels {pointer-events: none;} .datamap path:not(.datamaps-arc), .datamap circle, .datamap line {stroke: #FFFFFF; vector-effect: non-scaling-stroke; stroke-width: 1px;} .datamaps-legend dt, .datamaps-legend dd { float: left; margin: 0 3px 0 0;} .datamaps-legend dd {width: 20px; margin-right: 6px; border-radius: 3px;} .datamaps-legend {padding-bottom: 20px; z-index: 1001; position: absolute; left: 4px; font-size: 12px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;} .datamaps-hoverover {display: none; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; } .hoverinfo {
    padding: 4px; border-radius: 1px; background-color: black !important; box-shadow: 1px 1px 5px #CCC; font-size: 12px; border: 1px solid #CCC; } .hoverinfo hr {border:1px dotted #CCC; }
   

.navbar-default {
    background-color: black;
    color: white !important;
    font-size: 90%;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 100% !important;
    background-color: black;
}

.active > a{
    
    background-color: #2c2b2b !important;;
}

#md-page-menu .list-group-item {
    background-color: black !important;
    color: white !important;
    border-color: white;
}

#md-page-menu .list-group-item a {
    color: white;
    font-size: 90%;
}

.tag {
    color: white !important;
}

table {
    background-color: #222;
    color: white;
}

a{
    color:  white !important;
    /*! text-decoration: underline; */
}

cite {
    background-color: darkseagreen;
    color: black !important;
}

.table-bordered a {
    background-color: black;
}